body {
  background-color: #edf0f1;
}
.header {
  background-color: lightblue;
}
.add-task #new-task {
  color: #000;
  background: rgba(131, 127, 127, 0.2);
}
.add-task button {
  background-color: lightblue;
}
.add-task button svg .fill {
  fill: #000;
}
.todo h4 {
  color: #4b4b4b;
}
.todo ul li {
  background-color: #fff;
  color: #444;
}

